<!DOCTYPE html>
<html>
<head>
  <title>Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" :style="healthbar">
            {{ healthbar.width }}
            <template v-if="healthbar.width <= '0%'">
              {{ finishGame('lose!') }}
            </template>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" :style="monsterHealthbar">
            {{ monsterHealthbar.width }}
            <template v-if="monsterHealthbar.width <= '0%'">
              {{ finishGame('win!') }}
            </template>
          </div>
        </div>
      </div>
    </section>
    <section class="row controls" v-show="!newGame">
      <div class="small-12 columns">
        <button id="start-game" @click="newGame = !newGame">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls"  v-show="newGame">
      <div class="small-12 columns">
        <button id="attack" @click="turn('attack')">ATTACK</button>
        <button id="special-attack" @click="turn('specialattack')">SPECIAL ATTACK</button>
        <button id="heal" @click="turn('heal')">HEAL</button>
        <button id="give-up" @click="turn('giveup')">GIVE UP</button>
      </div>
    </section>
    <section class="row log" v-show="logGame">
      <div class="small-12 columns">
        <ul>
          <template v-for="log in battleLog">
            <li class="player-turn" v-show="log.playerTurn != null">
                PLAYER HITS MONSTER FOR {{ log.playerTurn }}
            </li>
            <li class="player-turn"  v-show="log.healTurn != null">
                PLAYER HEALS HIMSELF FOR {{ log.healTurn }}
            </li>
            <li class="monster-turn"  v-show="log.monsterTurn != null">
                MONSTER HITS PLAYER FOR {{ log.monsterTurn }}
            </li>
          </template>
        </ul>
      </div>
    </section>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      newGame: false,
      logGame: false,
      healthbar: {
        width: '100%',
        backgroundColor: 'green',
        margin: 0,
        color: 'white'
      },
      monsterHealthbar: {
        width: '100%',
        backgroundColor: 'green',
        margin: 0,
        color: 'white'
      },
      battleLog: [
        {playerTurn: null, monsterTurn: null, healTurn: null},
      ]
    },
    methods: {
      turn: function(event){
        var self = this;
        var myLife = this.healthbar.width;
        myLife = Number(myLife.replace('%',''));
        var monsterLife = this.monsterHealthbar.width;
        monsterLife = Number(monsterLife.replace('%',''));
        this.logGame = true;
        switch (event) {
          case "attack":
            var monsterAttack = this.randomIntFromInterval(0, 10);
            var playerAttack = this.randomIntFromInterval(0, 10);
            myLife = myLife - monsterAttack;
            monsterLife = monsterLife - playerAttack;
            this.healthbar.width = myLife + '%';
            this.monsterHealthbar.width = monsterLife + '%';
            this.battleLog.push({playerTurn: playerAttack, monsterTurn: monsterAttack});
            break;
          case "heal":
            var healValue = this.randomIntFromInterval(5, 10);
            var monsterAttack = this.randomIntFromInterval(0, 10);
            myLife = myLife + healValue - monsterAttack;
            if(myLife > 100){
              myLife = 100;
            }
            this.battleLog.push({healTurn: healValue, monsterTurn: monsterAttack});
            this.healthbar.width = myLife + '%';
            break;
          case "specialattack":
            var monsterAttack = this.randomIntFromInterval(5, 25);
            var playerAttack = this.randomIntFromInterval(5, 25);
            myLife = myLife - monsterAttack;
            monsterLife = monsterLife - playerAttack;
            this.healthbar.width = myLife + '%';
            this.monsterHealthbar.width = monsterLife + '%';
            this.battleLog.push({playerTurn: playerAttack, monsterTurn: monsterAttack});
            break;
          case "giveup":
            this.healthbar.width = '100%';
            this.monsterHealthbar.width = '100%';
            this.newGame = false;
            this.logGame = false;
            this.battleLog.length = 0;
            break;
          default:
            myLife = myLife - 1;
            monsterLife = monsterLife - 1;
            this.healthbar.width = myLife + '%';
            this.monsterHealthbar.width = monsterLife + '%';
        }
      },
      finishGame: function(event){
        alert("You " + event);
        this.newGame = false;
        this.battleLog.length = 0;
        this.healthbar.width = '100%';
        this.monsterHealthbar.width = '100%';
        this.logGame = false;
      },
      randomIntFromInterval: function(min, max){
        return Math.floor(Math.random() * (max - min + 1) + min);
      }
    }
  });
  </script>
</body>
</html>
